.container {
    height: calc(100vh - 70px);
    width: 100%;
    background-image: url('../../assets/heroback.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black background */
    background-blend-mode: darken;
  }
  
  .wrapper {
    max-width: 1180px;
    margin: 0 auto; /* Centers the wrapper horizontally */
    padding: 4rem 2rem; /* Adjust padding as desired */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers elements within the wrapper */
    justify-content: center; /* Centers elements vertically within the wrapper */
    height: 100%;
    text-align: center; /* Centers text within the wrapper */
    color: #fff; /* White text for better contrast */
  }
  
  .wrapper > h2 {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); /* Text shadow for depth */
  }
  
  .wrapper > h5 {
    font-size: 24px; /* Adjust font size if necessary */
    margin-bottom: 3rem;
  }
  
  .wrapper > .options {
    width: 70%;
    background-color: #fff;
    padding: 10px 20px; /* Increased padding for better spacing */
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .wrapper > .options> select {
    height: 50px; /* Increased height for better proportionality */
    min-width: 160px;
    max-width: 200px;
    border: none;
    outline: black;
    padding: 0.75rem; /* Increased padding for better spacing */
    background-color: rgba(186, 174, 174, 0.499); /* Adjust background color as desired */
    color: #050505;
    border-radius: 12px;
    font-size: 20px; /* Increased font size for larger options */
    cursor: pointer;
  }
  
  .options > button> searchicon{
    color: #000000;
    padding: 0.6%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: linear-gradient(90deg, rgb(7,3,73)0%,rgb(14,14,132) 35%,rgb(32,97,219)100%);
    fill:#fff;
    cursor: pointer;
    
}